.ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 300px;
    color: #003399;
    font-size: 24px;
    
}
.header{
    display: flex;
    justify-content: space-between;
}
.main{
   
}
.number{
    font-size: 288px;
    color:  #F27C0F;
    display: flex;
    justify-content: center;
}

.buttonone, .buttonfirst, .buttonsecond{
    width: 200px;
    height: 58px;
    border-radius: 4px;
    font-size: 24px;
    color: #fff;
    border: 0;
}

.buttonone {
    background-color:#003399;
}

.buttonfirst {
    background-color: #F27C0F;
}

.buttonsecond {
    background-color: #E5E5E5;
    color: #000
}

.button{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}
.footer{
   display: flex;
   margin-top: 180px;
   align-items: center;
   
 
}
.ulFoot{
    display: flex;
    justify-content: space-around;


}
.App{
    width: 770px;
    margin: auto;
    background-color: #fff;
}